
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
